.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.display h4 {
    padding: 0 20px;
    color: var(--small-color);
}

.display i {
    color: var(--small-color);
}

.channel {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
}

.channel h5 {
    color: black;
    font-weight: 700;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: rgb(255, 216, 108);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    animation:  hideSplashScreen 0.5s ease-in-out forwards;
    animation-delay: 2s;
}