@import "reset.css";
@import "css/same.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "index.css";
@import "css/friends.css";
@import "css/setting.css";
@import "css/talklist.css";
@import "css/talk.css";
@import "css/search.css";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: url("img/back.PNG") center repeat;
    
}

:root {
    --big-color: rgb(0,0,0, 1);
    --middle-color: rgb(0,0,0, 0.8);
    --small-color: grey;
    --line-color: rgba(246, 160, 0, 0.959);
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

h5 {
   font-size: 14px;
   font-weight: 500;
   color: var(--small-color);  
}